:global( .ant-select:not(.ant-select-customize-input) .ant-select-selector){
  min-width: 200px;
  padding-right: 0.5rem;
  border-radius: 10px;
}

:global(.ant-select-dropdown){ 
  border-radius: 10px;
}

@media all and (max-width: 599px) {
    :global( .ant-select:not(.ant-select-customize-input) .ant-select-selector){
        min-width: 150px;
        height: 25px;
    }
}