@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.widgetContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  width: 34%;
  height: 100vh;
  padding: 1.2rem;
  font-weight: 700;
  font-size: 2rem;
  /*font-family: 'inter', sans-serif;*/
  color: var(--font-color);
  background-image: var(--bg);
  background-size: auto 100vh;
  background-position: center;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.city {
    font: 400 3rem 'Montserrat', sans-serif
}

.temperature {
  font-size: 3.6rem;
}

@media all and (max-width: 599px) {
  .widgetContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: 49%;
    height: 100vh;
    padding: 2rem;
    font-weight: 600;
    font-size: 1.4rem;
    background-size: auto 100vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .city {
    font: 400 2rem 'Montserrat', sans-serif
  }

  .temperature {
    font-size: 3rem;
  }

  .fLW {
    font-weight: 600;
    font-size: 1rem;
  }
}