.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    height: 100%;
    padding: 20px;
}

.griditems {
    padding: .5em;
    background: var(--main-color);
    text-align: center;
}

.text {
    font-size: 1.6rem;
    line-height: 1.4em;
    font-weight: 550;
    color: var(--air-condition-text-color);
}

.him {
    font-size: 3rem;
    font-weight: 700;
    color: var(--air-condition-text-color);
}
.condition {
    font-weight: bolder;
    font-size: 2rem;
    color: var(--panel-color);
}

.title {
    font-weight: 400;
    font-size: 3rem;
    color: var(--dimmed-font-color);
}

.description {
    text-align: justify;
}

.element {
    font-size: 2em;
    font-weight: 300;
    color: var(--panel-color);
}

.condition {
    font-weight: bold;
    font-size: 2rem;
    color: var(--dimmed-font-color);
}

.item1 {
    grid-area: 1 / 1 / 3 / 3;
    opacity: 1;
    font-size: 5vw;
    padding: .5em;
    background: var(--main-color);
    border-radius: 5px;
    text-align: center;
}

.item2 {
    grid-area: 2 / 3 / 4 / 4;
    opacity: 1;
    /*border: 0.5rem solid;*/
    /*border-color: var(--panel-color);*/
    transition: 50ms;
    font-size: 5vw;
    padding: .5em;
    background: var(--night);
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.item2:hover {
    opacity: 1;
    transform: scale(1.03);
    cursor: pointer;
    transition: 0.25s;

}

.item3 {
    grid-area: 3 / 1 / 4 / 3;
    opacity: 1;
    /*border: 0.5rem solid;*/
    /*border-color: var(--font-color);*/
    background: var(--morning);
    transition: 50ms;
    font-size: 5vw;
    padding: .5em;
    /*background: var(--main-color);*/
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.item3:hover {
    opacity: 1;
    transform: scale(1.03);
    cursor: pointer;
    transition: 0.25s;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.item4 {
    grid-area: 1 / 3 / 2 / 5;
    opacity: 1;
    transition: 50ms;
    font-size: 5vw;
    padding: .5em;
    background: var(--afternoon);
    /*background: var(--main-color);*/
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.item4:hover {
    opacity: 1;
    transform: scale(1.03);
    cursor: pointer;
    transition: 0.25s;
}

.item5 {
    grid-area: 2 / 4 / 3 / 5;
    opacity: 1;
    transition: 50ms;
    font-size: 5vw;
    padding: .5em;
    background: var(--morning);
    /*background: var(--main-color);*/
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.item5:hover {
    opacity: 1;
    transform: scale(1.03);
    cursor: pointer;
    transition: 0.25s;
}

.item6 {
    grid-area: 3 / 4 / 4 / 5;
    opacity: 1;
    transition: 50ms;
    font-size: 5vw;
    padding: .5em;
    /*background: var(--main-color);*/
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.item6:hover {
    opacity: 1;
    transform: scale(1.03);
    cursor: pointer;
    transition: 0.25s;
}

.item7 {
    grid-area: 1 / 5 / 2 / 6;
    opacity: 1;
    transition: 50ms;
    font-size: 5vw;
    padding: .5em;
    /*background: var(--main-color);*/
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.item7:hover {
    opacity: 1;
    transform: scale(1.03);
    cursor: pointer;
    transition: 0.25s;

}

.item8 {
    grid-area: 2 / 5 / 3 / 6;
    opacity: 1;
    transition: 50ms;
    font-size: 5vw;
    padding: .5em;
    background: var(--afternoon);
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.item8:hover {
    opacity: 1;
    transform: scale(1.03);
    cursor: pointer;
    transition: 0.25s;
}

.item9 {
    grid-area: 3 / 5 / 4 / 6;
    opacity: 1;
    transition: 50ms;
    font-size: 5vw;
    padding: .5em;
    background: var(--night);
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.item9:hover {
    opacity: 1;
    transform: scale(1.03);
    cursor: pointer;
    transition: 0.25s;
}

.tooltip {
    position: relative;
    border-radius: 10px;
}

.tooltiptext {
    font-size: 1rem;
    color: var(--dimmed-font-color);
    font-weight: 500;

}

.tooltiptext > p {
    /*white-space: pre-wrap;*/
    max-width: 20rem;
    text-align: left;
}

@media all and (max-width: 1400px) {
    .text {
        font-size: 1rem;
    }

    .him {
        font-size: 2rem;
        font-weight: 500;
        /*color: var(--panel-color);*/
    }

    .element {
        font-size: 1rem;
        font-weight: 300;
    }

    .condition {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .description {
        font-size: 0.8rem;
    }

    .title {
        font-size: 2rem;
    }
}

@media all and (max-width: 1000px) {
    .text {
        font-size: 5px;
    }

    .him {
        font-size: 20px;
        font-weight: 500;
        /*color: var(--panel-color);*/
    }

    .element {
        font-size: 0.5rem;
        font-weight: 300;
    }

    .condition {
        font-size: 1rem;
        font-weight: bold;
    }

    .description {
        font-size: 0.5rem;
    }

    .title {
        font-size: 2rem;
    }

    .grid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3.3vw;
        padding: 30px;
    }

    .item1 {
        grid-area: 1 / 1 / 3 / 3;
    }

    .item2 {
        grid-area: 2 / 3 / 4 / 6;
    }

    .item3 {
        grid-area: 3 / 1 / 4 / 3;
    }

    .item4 {
        grid-area: 1 / 3 / 2 / 6;
    }

    .item5 {
        grid-area: 4 / 4 / 4 / 2;
    }

    .item6 {
        grid-area: 4 / 1 / 4 / 2;
    }

    .item7 {
        grid-area: 5 / 4 / 4 / 6;
    }

    .item8 {
        grid-area: 7 / 1 / 5 / 3;
    }

    .item9 {
        grid-area: 7 / 6 / 5 / 3;
    }

    .tooltiptext {
        font-size: 0.6rem;
        font-weight: 400;

    }

    .tooltiptext > p {
        /*white-space: pre-wrap;*/
        max-width: 10rem;
        text-align: left;
    }
}

/*For SE, 6, 7, 8 iPhone*/
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .text {
        font-size: 10px;
    }

    .him {
        font-size: 20px;
        font-weight: 700;
    }

    .element {
        font-size: 0.9rem;
        font-weight: 300;
    }

    .condition {
        font-size: 0.7rem;
        font-weight: bold;
    }

    .description {
        font-size: 1rem;
    }

    .title {
        font-size: 1.6rem;
    }

    .grid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5vw;
        padding: 5px;
    }

    .tooltiptext {
        font-size: 0.5rem;
        font-weight: 400;

    }

    .item1 {
        grid-area: 1 / 1 / 3 / 6;
    }

    .item2 {
        grid-area: 3 / 3 / 5 / 6;
    }

    .item3 {
        grid-area: 3 / 1 / 5 / 3;
    }

    .item4 {
        grid-area: 5 / 1 / 7 / 2;
    }

    .item5 {
        grid-area: 5 / 2 / 6 / 6;
    }

    .item6 {
        grid-area: 6 / 2 / 7 / 6;
    }

    .item7 {
        grid-area: 7 / 1 / 8 / 3;
    }

    .item8 {
        grid-area: 8 / 1 / 10 / 3;
    }

    .item9 {
        grid-area: 7 / 6 / 10 / 3;
    }
}
