.title {
  margin: 0px;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'inter', sans-serif;
  color: var(--font-color);
}

.flipCard {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  background-color: transparent;
}

.flipCardInner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--card-color);
  color: var(--font-color);
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipCardFront {
  background-image: var(--flip-card-front);
  background-size: cover;
}

.flipCardBack {
  background-image: var(--flip-card-back);
  transform: rotateY(180deg);
  background-size: cover;
}

@media all and (max-width: 599px) {
  .title {
    margin: 0px;
    font-size: 1.2rem;
    font-weight: 700;
  }
}