.logoBackground {
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
}
@media all and (max-width: 599px) {
    .logoBackground {
        width: 30px;
        height: 30px;
    }
}


