@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.card {
  min-width: 10rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  border-radius: 10px;
}
