@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

.flipCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1.2rem;
  gap: 0.6rem;
  perspective: 1000px;
  background-color: var(--card-color);
  border-radius: 10px;
  background-image: var(--suggestion-card-image);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.suggestionTemp {
  margin: 0px;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'inter', sans-serif;
  font-size: 1.8rem;
  color: var(--font-color);
}

.suggestionDescript {
  font-weight: 500;
  font-family: 'inter', sans-serif;
  font-size: 1.2rem;
  color: var(--font-color);
}

.btn {
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  font-family: 'inter', sans-serif;
  font-size: 1.2rem;
  color: var(--dimmed-font-color);
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
  background-image: -webkit-linear-gradient(45deg, var(--evening) 50%, transparent 50%);
  background-image: linear-gradient(45deg, var(--evening) 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

.btn:hover {
  background-position: 0;
}

@media all and (max-width: 599px) {
  .suggestionTemp {
    margin: 0px;
    font-weight: 700;
    font-size: 1.2rem;
  }

  .suggestionDescript {
    font-weight: 500;
    font-size: 1rem;
  }

  .btn {
    padding: 0.4rem 1rem;
    font-weight: 500;
    font-size: 0.8rem;
  }
}