.button {
  padding: 0.2rem;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.2);
}

.language {
  margin: 0 auto;
}

.language:hover {
  cursor: pointer;
}

.languageList {
  padding-left: 0px;
}

.languageItem {
  list-style: none;
}
