.shadow {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  background-color: #000000;
  opacity: 0.7;
  z-index: 4;
}

.modal {
  background-color: transparent;
  position: fixed;
  top: 6rem;
  z-index: 5;
  max-height: calc(100% - 4rem);
  left: 50%;
  animation: top-to-down 0.5s;
  animation-fill-mode: forwards;
  overflow-y: auto;
  transform: translate(-50%);
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

@keyframes top-to-down {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.close{
  position:fixed;
}
