@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

.card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    padding: 1.2rem;
    font-weight: 500;
    font-family: 'inter', sans-serif;
    font-size: 1.2rem;
    color: var(--font-color);
    background-color: var(--card-color);
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.temp {
    font-weight: 700;
    font-family: 'inter', sans-serif;
    font-size: 1.8rem;
  }
