@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header {
  grid-area: header;
  display: flex;
  background-color: var(--extra-color);
}
.link {
  color: var(--font-color);
  position: absolute;
  text-decoration: none;
  top: 4px;
  left: 60px;
  font-weight: 400;
  font-size: 1.2rem;
}
.link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--font-color);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
.link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.linkMap {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: var(--font-color);
}

@media all and (max-width: 599px) {
  .link {
    top: 2px;
    left: 50px;
    font-weight: 400;
    font-size: 1rem;
  }
}
