@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat&display=swap');

.popupContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  width: 34%;
  height: fit-content;
  padding: 1.2rem;
  font-weight: 700;
  font-family: 'inter', sans-serif;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cityName {
  font: 400 3.6rem 'Montserrat', sans-serif
}

.popupTemperature {
  font-size: 3.6em;
}

.mapContainer {
  min-height: 30rem;
  z-index: 1;
}
