*, p {
  margin: 0px;
}

.page {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header header right-aside"
                       "left-aside main right-aside";
    grid-template-columns: 40px 1fr 33%;
    grid-template-rows: 40px 1fr;
    background-color: var(--main-color);
    /*background-color: #b5c15b;*/
}
.pagesmall {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header     header"
                         "left-aside right-aside"
                         "left-aside main";
    grid-template-columns: 30px 100%;
    grid-template-rows: 30px 50% 40%;
    background-color: var(--main-color);
    /*background-color: #b5c15b;*/
}

.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
