.theme {
  width: 38px;
  text-align: center;
  background-color: transparent;
  border: none;
}

.sun,
.moon {
  font-size: 1.2rem;
}

.sun {
  color: #fe6d1d;
}

.moon {
  color: var(--dimmed-font-color);
}
