.logo {
    width: 40px;
    height: 40px;
    background-image: url('../../assets/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
}

.logo:hover {
    transform: scale(1.2);
}
@media all and (max-width: 599px) {
    .logo {
        width: 30px;
        height: 30px;
    }
}