:root {
  --main-color: #ffffff;
  --extra-color: rgb(88, 173, 56);
  --card-color: rgb(88, 173, 56);
  --font-color: #ffffff;
  --dimmed-font-color: #48484a;
  --bg: url("/src/assets/bg.webp");
  --theme-icon: "faMoon";
  --morning: rgb(205,226,184);
  --afternoon: #b0d391;
  --evening: #91c468;
  --night: rgb(127, 188, 84);
  --panel-color: rgb(88, 173, 56);
  --air-condition-text-color: rgb(16, 47, 6);
  --flip-card-front: url("/src/assets/sunrise.webp");
  --flip-card-back: url("/src/assets/moonrise.svg");
  --suggestion-card-image: url("./assets/cloudy.svg");
}

.dark {
  --main-color: #051A32;
  --extra-color: #0B4C6F;
  --card-color: #023258;
  --font-color: #ffffff;
  --dimmed-font-color: #a9a9ad;
  --bg: url("/src/assets/dark-bg.webp");
  --theme-icon: "faSun";
  --air-condition-text-color: #ffffff;
  --morning: #3F888F;
  --afternoon: #3E5F8A;
  --evening: #1B5583;
  --night: #003153;
  --panel-color: rgb(47, 48, 68);
  --flip-card-front: url("/src/assets/sunrise.webp");
  --flip-card-back: url("/src/assets/moonrise.svg");
  --suggestion-card-image: url("./assets/suggestionCardImageDarkTheme.svg");
}
