.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader {
  width: 200px;
  opacity: 1;
  margin: 0 auto;
}
 
.path {
  stroke: var(--dimmed-font-color);
  stroke-width: 0.4;
}

.cloud {
  position: relative;
  z-index: 2;
  width: 110px;
  height: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rain {
  width: 70px;
  height: 70px;
  height: 100px;
  margin-top: -28px;
  margin-left: 19px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.drop {
  opacity: 1;
  background: var(--dimmed-font-color);
  display: block;
  float: left;
  width: 4px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0px 0px 6px 6px;
  
  animation-name: drop;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
}

.drop:nth-child(1) {
  animation-delay: -130ms;
}

.drop:nth-child(2) {
  animation-delay: -240ms;
}

.drop:nth-child(3) {
  animation-delay: -390ms;
}

.drop:nth-child(4) {
  animation-delay: -525ms;
}

.drop:nth-child(5) {
  animation-delay: -640ms;
}

.drop:nth-child(6) {
  animation-delay: -790ms;
}

.drop:nth-child(7) {
  animation-delay: -900ms;
}

.drop:nth-child(8) {
  animation-delay: -1050ms;
}

.drop:nth-child(9) {
  animation-delay: -1130ms;
}

.drop:nth-child(10) {
  animation-delay: -1300ms;
}


@keyframes drop {
  50% {
    height: 45px;
    opacity: 0;
  }

  51% {
    opacity: 0;
  }

  100% {
    height: 1px;
    opacity: 0;
  }
}

.text {
  font-size: 1.8rem;
  color: var(--dimmed-font-color);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
