.buttonsContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

.lower {
    bottom: 40px;
}


@media all and (max-width: 599px) {
    .lower {
        bottom: 30rem;
    }
}