@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

.card {
  max-width: 20rem;
  flex-grow: 1;
  padding: 2rem;
  background-color: var(--card-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: 'inter', sans-serif;
  font-size: 1.2rem;
  color: var(--font-color);
  border-radius: 10px;
  transition: 0.5s;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.card:hover{
  transform: scale(1.02);
  cursor: pointer;
}

.mainText {
  margin: 5.4%;
  font-weight: 500;
  font-family: 'inter', sans-serif;
  font-size: 1.15rem;
  line-height: 1.5em;
}

.temp {
  font-weight: 700;
  font-family: 'inter', sans-serif;
  font-size: 1.8rem;
}

.icon {
  flex-shrink: 0;
  width: min-content;
  height: min-content;
}


.modalContent {
  display: flex;
  gap: 2.4rem;
  height: min-content;
  padding: 2.4rem;
  font-weight: 500;
  font-family: 'inter', sans-serif;
  font-size: 1.2rem;
  color: var(--font-color);
  background-color: var(--card-color);
  border-radius: 10px;
}

.modalContent * {
  margin: 0px;
}

.firstBlock {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 1.8rem;
}

.secondBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalContent .temp {
  font-size: 3.6rem;
}

.modalContent .f {
  display: flex;
}

.modalContent *::after { 
  content: attr(data-title);
  display: none;
 }

 .modalContent *:hover::before { 
  content: attr(data-title);
  position: absolute;
  z-index: 1;
  display: block;
  color: var(--dimmed-font-color);
  background-color: var(--card-color);
  text-align: center;
  transition: ease-in-out;
 }

 .tooltipText {
   font-size: 0.9rem;
   color: var(--font-color);
 }

 .iconClose{
   width: 1rem;
   height: 1rem;
 }

 .iconClose:hover {
  transform: scale(1.5);
 }