.main {
  font-weight: 500;
  font-family: 'inter', sans-serif;
  font-size: 1.2rem;
}

.medium {
  font-weight: 500;
  font-family: 'inter', sans-serif;
  font-size: 1.8rem;
}

.small {
  font-weight: 500;
  font-family: 'inter', sans-serif;
  font-size: 0.9rem;
}

.metricName {
  color: var(--dimmed-font-color);
}

.metricValue {
  /*color: var(--font-color);*/
}
